.header{
height: 70px;
width: 100%;
background-color:  #68CB90;
display: flex;
}
.topnav {
    display: flex;
    margin: 0px 0px 0px 70%;
    overflow: hidden;
}
.topnav a {
  display: block;
  color: bisque;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  padding: 25px  5px;
  height: 50px;
  font-family: monospace, sans-serif;
}
.topnav a:hover{
    background: rgba(0, 0, 0, 0.486);
    
}
a.active{
    background: rgba(0, 0, 0, 0.486); 
    
}
.content{
width: 100%;
height: 100vh;
background: #C4C4C4;
margin-top: -20px;
display: block;

}
h1{
    font-size: 30px;
    font-family: monospace;
}
.sidenav{
    height: 100vh;
    width: 15%;
    background: #1E684E;
    text-align: center;
}
.sidenav a {
display: block;
color: whitesmoke;
text-decoration: none;
text-align: center;
padding: 20px 25px;
font-family: monospace, sans-serif;
}
.sidenav a:hover {
  background: #68CB90;  
 
}
.searchbox{
   width: 100%;
   height: 50px;
   margin-top: -700px;

}

.input-search{
    font-family: monospace;
    background: #68CB90;
    width: 30%;
    height: 30px;
    margin-left: 30%;
    border-radius: 30px;
}
.cardcontainer{
width: 400px;
height: 30vh;
padding:10px;
display: flex;
flex-wrap: wrap;
/*background: #68CB90;*/
margin-top: -650px;
margin-left: 250px;
}
.card-content{
margin: 10px;
width: 100%;
height: 200px;
background: #68CB90;
border-radius: 30px;
box-shadow: 0px 4px 8px #1E684E;
}
.card-img{
    width: 40%;
    height: 200px;
    border-radius: 30px;
    float: left;
}
.car-text{
    display:none ;
}
.blogcontent{
    width: 60%;
    margin-left: 147px;
    margin-top: -220px;
    text-align: right;
}
.carcont{
    display: flex;
    /*flex-wrap: wrap;*/
}
.onecard-content{
    text-align: center;
    margin-top: -90vh;
}
.textreadmore{
    margin-left: 15%;
}
.signupmodal{
    width:100%;
    height:120vh;
    background:rgba(0, 0, 0, 0.795);
    position:fixed;
    display:none;
    margin-top: -100px;
}
.signupcard{
    margin:2% 10% 10% 35%;
    width:30%;
    height: 100vh;
    background:grey;
    box-shadow:0px 4px 8px #68CB90;
    text-align:center;
    padding:20px;

}
.inputsignup{
    width:80%;
    height:30px;
    padding:10px 20px;
    border:1px solid rgb(185, 182, 182);
    margin:20px;
}

.signupbutton{
    width:90%;
    height:50px;
    background:#68CB90;
    cursor:pointer;
}

.close{
    position:absolute;
    margin:-20px 20px 0px 10%;
    color:black;
    font-size:35px;
    font-weight:bold;
    cursor:pointer;
}

.close:hover{
    color:red;
}